/* Changed the colours the match the title screen in the provided craft video */
:root {
  --primary-bg-color: #67978d;
  --text-color: aliceblue;
  --accent-color: #925184;
  --main-bg-color: #0c503f;
  --main-text-color: #fff;
  --main-btn-bg-color: #938989;
}
/* to ensure that the scroll to top button is smooth and doesnt jump */
html {
  scroll-behavior: smooth;
}

body,
p,
ul {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}
/* I added in the letter spacing to the title as I felt the font made it look
too squished */
h1 {
  font-size: 1.8rem;
  letter-spacing: 2px;
}
body {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #a6ccbe;
  color: black;
  line-height: 1.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
}

h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
h4 {
  font-size: 1.3rem;
  padding-bottom: 5px;
  font-weight: bold;
}

p {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Create a container for the main content */
.container {
  width: 1000px;
  padding: 10px;
  border: 5px;
}

/* Header styling */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 10px 0;
  text-align: center;
  width: 100%;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Navigation styling */
nav {
  text-align: center;
  background-color: var(--accent-color);
  color: var(--main-text-color);
  padding: 5px 0;
  margin-bottom: 20px;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

/* added styling id for the cover container */
#covertitle {
  /* I used a visual border to help me see what was happening when
  trying to use the grid display */
  border: 5px double #0c503f;
  background-color: #cff1eb;
  color: #0c503f;
  width: 1000px;
  min-height: 100;
  padding: 5px;
  /* used grid display so the image and the text/buttons could be next
  to each other */
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}
#contain {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* wheel id for the image */
#wheel {
  /* grid column so it covered 2 thirds of the columns */
  grid-column: 1/3;
  border: solid 1px #0c503f;
}
/* Title styling */
#title {
  font-size: 2.5rem;
}

/* container class for like/share buttons */
.top-controls {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-top: 2px solid #0c503f;
  border-bottom: 2px solid #0c503f;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
}
/* styling for all buttons inside the containers */
.top-controls button {
  background-color: #ca85bb;
  border: none;
  /* border raidus to make buttons appear curved  */
  border-radius: 20px;
  padding: 8px 8px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  /* the images on the buttons are centred vertically and horizontal  */
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
}
#btnwide {
  width: 110px;
  line-height: 1.4;
}

#tags {
  font-weight: bold;
}

#intro {
  width: 900px;
  margin-top: 30px;
  font-size: 1.5rem;
}

/* Media player styling */
.flex-container {
  /* border for visual help in styling */
  /* border: 2px dashed #e5e5cb56; */
  display: flex;
  padding: 10px 50px;
  padding-bottom: 2px;
}
/* section for chapter buttons */
steps {
  display: grid;
  /* two columns for the buttons */
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  /* flex grow so the steps fill the excess space next to the media player */
  flex-grow: 1;
  margin: 20px 30px 20px 2px;
}
steps button {
  padding: 1px;
  background-color: #cff1eb;
  border: 1px dashed #0c503f;
  cursor: pointer;
  border-radius: 5px;
}

/* cant make it bigger???? */
/* media player includes title and video controls */
.media-player {
  width: 485px;
  height: 400px;
  margin: 25px;
  padding: 20px 30px;
  /* flex-grow: 2; */
}
/* just video */
.media-player video {
  max-width: 100%;
}

/* pause/play fullscreen button and progress bar */
.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.custom-controls button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 30%;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 55px;
  height: 45px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: aliceblue;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--accent-color);
  width: 0;
  transition: width 0.3s ease;
}

.bold {
  font-weight: bold;
}

#box {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.instruction {
  list-style: "-";
  text-indent: 25px;
  font-size: 1rem;
  border: 2px solid#0c503f;
  background-color: #cff1eb;
  padding: 10px;
  padding-right: 30px;
}

ol {
  text-indent: 25px;
  font-size: 1rem;
  /* how do i make it so the second line is also indented */
}

#caption {
  border: 3px solid #0c503f;
  background-color: aliceblue;
  color: black;
  padding: 10px 25px;
  margin: 20px;
  margin-top: 0px;
  border-radius: 25px;
}
#ch1 {
  padding-left: 20px;
}
#ch2 {
  padding-left: 20px;
}
#ch3 {
  padding-left: 20px;
}
#ch4 {
  padding-left: 20px;
}
#ch5 {
  padding-left: 20px;
}
#ch6 {
  padding-left: 20px;
}
#ch7 {
  padding-left: 20px;
}
#ch8 {
  padding-left: 20px;
}
#ch9 {
  padding-left: 20px;
}
#ch10 {
  padding-left: 20px;
}
#ch11 {
  padding-left: 20px;
}
#ch12 {
  padding-left: 20px;
}
#ch13 {
  padding-left: 20px;
}
#ch14 {
  padding-left: 20px;
}
#ch15 {
  padding-left: 20px;
}
#ch16 {
  padding-left: 20px;
}
#ch17 {
  padding-left: 20px;
}
#ch18 {
  padding-left: 20px;
}

#content {
  border: 2px solid #0c503f;
  background-color: #cff1eb;
  color: black;
  padding: 10px 25px;
}

.padded {
  text-indent: 10px;
  padding-right: 15px;
}
.indent {
  padding-left: 30px;
}

.sectional {
  padding: 5px 10px 20px 10px;
}

#indent {
  text-indent: 25px;
}

.print {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}
.print button {
  background-color: #ca85bb;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 8px 8px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
