:root {
  --primary-bg-color: #67978d;
  --text-color: aliceblue;
  --accent-color: #925184;
  --main-bg-color: #0c503f;
  --main-text-color: #fff;
  --main-btn-bg-color: #938989;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

body {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.2rem;
}

/* Add additional styles as needed */

/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 800px;
  padding: 10px;
  border: 5px;
}

/* Header styling */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 10px 0;
  text-align: center;
  width: 100%;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Navigation styling */
nav {
  text-align: center;
  background-color: var(--accent-color);
  color: var(--main-text-color);
  padding: 5px 0;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

/* Media player styling */
/* cant make it bigger???? */
.media-player {
  width: 500px;
  margin: 0 auto;
  padding: 20px 40px;
}

.media-player video {
  max-width: 100%;
}

.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  width: 0;
  transition: width 0.3s ease;
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.instruction {
  list-style: "-";
  text-indent: 25px;
  font-size: 1rem;
}

ol {
  text-indent: 25px;
  font-size: 1rem;
  /* how do i make it so the second line is also indented */
}

#content {
  border: 5px solid #0c503f;
  padding: 10 25 10 25;
}
